<div class="counter js-counter">
    <table>
        <tr>
            <td>FPS</td>
            <td class="js-fps">???</td>
        </tr>
{#        <tr>#}
{#            <td>min FPS</td>#}
{#            <td class="js-min-fps">???</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>average FPS</td>#}
{#            <td class="js-average-fps">???</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <td>max FPS</td>#}
{#            <td class="js-max-fps">???</td>#}
{#        </tr>#}
    </table>
</div>